.user-list{
  display: flex;
  justify-content: space-around;
  border: 1px solid #aaa;
  margin: 0;
  padding: 10px;
  list-style:none;
}

.user-list-head{
  display:flex;
  justify-content: space-around;
  font-size:20px;
  font-weight:800;
  list-style: none;
}